<nav
  class="bg-gray-50 border-gray-100 grid grid-cols-5 gap-4 px-8 h-20 items-center border-b-[1px]"
>
  <a href="/" class="text-ms font-semibold col-span-1 text-gray-900">
    PromoCam
  </a>

  <!-- <div class="col-span-3 mx-auto">
    <a
      class="text-md font-semibold px-4 py-2 hover:underline"
      routerLinkActive="text-sky-500"
      routerLink="/places"
    >
      Places
    </a>
    <a
      class="text-md font-semibold px-4 py-2 hover:underline"
      routerLinkActive="text-sky-500"
      routerLink="/map"
    >
      Map
    </a>
  </div> -->
  <app-search
    class="w-full max-w-sm m-auto col-span-3 overflow-hidden shadow-sm hover:shadow-md bg-white rounded-full px-2 border-[1px] border-gray-100"
  ></app-search>

  <button
    class="col-span-1 ml-auto text-sm font-semibold px-6 py-3 bg-gray-900 text-white rounded-full"
    *ngIf="!isAuthenticated"
    (click)="signInWithGoogle()"
  >
    Log in
  </button>

  <button
    class="col-span-1 ml-auto text-sm font-semibold px-6 py-3 bg-gray-900 text-white rounded-full"
    *ngIf="isAuthenticated"
    (click)="signOut()"
  >
    Logout
  </button>
</nav>
