<div class="min-w-screen w-screen flex flex-row justify-start p-6 h-full">
  <app-sidebar class="w-64 shrink-0"></app-sidebar>

  <div
    class="grow flex flex-col items-center justify-start w-full h-full p-2 pl-6"
  >
    <div class="flex flex-row justify-between items-center w-full">
      <div class="flex flex-row justify-start items-center">
        <h1 class="text-sm font-semibold text-gray-600">PromoCam</h1>
        <p class="text-sm text-gray-500 mx-2">></p>
        <h1 class="text-xs font-semibold text-gray-600">
          {{ placeType | titlecase }}
        </h1>
      </div>

      <div class="flex flex-row justify-end items-center">
        <p class="text-sm text-gray-600 mx-1">Sort:</p>
        <select
          class="text-sm font-semibold text-start text-gray-900 cursor-pointer rounded-md focus:outline-none bg-transparent appearance-none"
          (change)="setSelectedSort($event)"
          [value]="selectedSort"
        >
          <option *ngFor="let sortOption of sortOptions" [value]="sortOption.value">
            {{ sortOption.label }}
        </select>
      </div>
    </div>
    <hr class="w-full my-3" />

    <div
      class="w-full h-full flex flex-col items-center justify-center mt-32"
      *ngIf="!nearbyPlaces.length"
    >
      <p class="text-md text-gray-600 mt-4">0 Results Found</p>
    </div>

    <div
      class="w-full h-full grid xl:grid-cols-2"
      *ngIf="nearbyPlaces.length > 0"
    >
      <app-card
        *ngFor="let place of nearbyPlaces"
        [place]="place"
        class="w-full"
      ></app-card>
    </div>
  </div>
</div>
