<div class="p-4" *ngIf="placeDetails">
  <div
    id="carouselExampleCaptions"
    class="relative"
    data-te-carousel-init
    data-te-ride="carousel"
  >
    <div
      class="absolute bottom-0 left-0 right-0 z-[2] mx-[15%] mb-4 flex list-none justify-center p-0"
      data-te-carousel-indicators
    >
      <button
        type="button"
        class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 {{
          photoIdx === i ? 'bg-white' : 'bg-gray-300'
        }}"
        *ngFor="let photo of placeDetails.photos; let i = index"
        (click)="setActivePhoto(i)"
      ></button>
    </div>

    <div
      class="relative w-full overflow-hidden after:clear-both after:block after:content-['']"
    >
      <div
        class="relative float-left -mr-[100%] w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none mx-auto"
        data-te-carousel-active
        data-te-carousel-item
        style="backface-visibility: hidden"
      >
        <img
          src="{{ photoUrl }}"
          class="block max-w-[500px] h-[500px] object-cover mx-auto"
          alt="..."
        />
        <div
          class="absolute inset-x-[15%] bottom-5 hidden py-5 text-center text-white md:block"
        >
          <h5 class="text-xl"></h5>
        </div>
      </div>
    </div>

    <button
      class="absolute bottom-0 left-0 top-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
      type="button"
      (click)="prevPhoto()"
    >
      <span class="inline-block h-8 w-8">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="h-6 w-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15.75 19.5L8.25 12l7.5-7.5"
          />
        </svg>
      </span>
      <span
        class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
        >Previous</span
      >
    </button>
    <button
      class="absolute bottom-0 right-0 top-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
      type="button"
      (click)="nextPhoto()"
    >
      <span class="inline-block h-8 w-8">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="h-6 w-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M8.25 4.5l7.5 7.5-7.5 7.5"
          />
        </svg>
      </span>
      <span
        class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
        >Next</span
      >
    </button>
  </div>


  <h2 class="text-3xl font-semibold mb-4">{{ placeDetails.name }}</h2>
  <p class="text-lg text-gray-600 mb-4">{{ placeDetails.vicinity }}</p>
  <div class="mb-4">
    <img
      src="{{ placeDetails.icon }}"
      alt="Place Icon"
      class="w-10 h-10 inline-block"
    />
    <p class="inline-block text-base text-gray-600 ml-2">
      {{ placeDetails.types?.join(", ") }}
    </p>
  </div>
  <p class="text-lg font-semibold mb-2">
    Business Status: {{ placeDetails.business_status }}
  </p>
  <p class="text-lg mb-4">Rating: {{ placeDetails.rating }}</p>
  <h3 class="text-xl font-semibold mb-2">Address:</h3>
  <ul class="list-disc pl-6">
    <li>{{ placeDetails.formatted_address }}</li>
  </ul>
  <h3 class="text-xl font-semibold mt-4 mb-2">Opening Hours:</h3>
  <ul class="list-disc pl-6">
    <li *ngFor="let period of placeDetails.opening_hours?.periods">
      {{ getDayName(period.open.day) }}: {{ formatTime(period.open.time) }} -
      {{ formatTime(period.close?.time || "") }}
    </li>
  </ul>
</div>
