<div class="p-4" *ngIf="placeDetails">
  <app-videos [pid]="pid"></app-videos>
  <div class="relative">
    <div
      class="absolute bottom-0 left-0 right-0 z-[2] mx-[15%] mb-4 flex list-none justify-center p-0"
    >
      <button
        type="button"
        class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 {{
          photoIdx === i ? 'bg-white' : 'bg-gray-300'
        }}"
        *ngFor="let photo of placeDetails.photos; let i = index"
        (click)="setActivePhoto(i)"
      ></button>
    </div>

    <div
      class="relative w-full overflow-hidden after:clear-both after:block after:content-['']"
    >
      <div
        class="relative float-left -mr-[100%] w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none mx-auto"
      >
        <img
          src="{{ photoUrl }}"
          class="block max-w-[500px] h-[500px] object-cover mx-auto"
          alt="..."
        />
        <div
          class="absolute inset-x-[15%] bottom-5 hidden py-5 text-center text-white md:block"
        >
          <h5 class="text-xl"></h5>
        </div>
      </div>
    </div>

    <button
      class="absolute bottom-0 left-0 top-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-black opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:font-bold hover:no-underline hover:opacity-90 hover:outline-none focus:font-bold focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
      type="button"
      (click)="prevPhoto()"
    >
      <span class="inline-block h-8 w-8">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="h-6 w-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15.75 19.5L8.25 12l7.5-7.5"
          />
        </svg>
      </span>
      <span
        class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
        >Previous</span
      >
    </button>
    <button
      class="absolute bottom-0 right-0 top-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-black opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:font-bold hover:no-underline hover:opacity-90 hover:outline-none focus:font-bold focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
      type="button"
      (click)="nextPhoto()"
    >
      <span class="inline-block h-8 w-8">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="h-6 w-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M8.25 4.5l7.5 7.5-7.5 7.5"
          />
        </svg>
      </span>
      <span
        class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
        >Next</span
      >
    </button>
  </div>

  <div class="m-16">
    <h2 class="text-3xl font-semibold mb-4">
      {{ placeDetails.name }}
      <img
        src="{{ placeDetails.icon }}"
        alt="Place Icon"
        class="mx-2 w-6 h-6 inline-block mb-1"
      />
    </h2>
    <div class="flex items-center mb-4">
      <div class="flex" *ngIf="placeDetails.rating">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          *ngFor="let i of [1, 2, 3, 4, 5]"
        >
          <path
            [ngClass]="{
              'text-yellow-500': placeDetails.rating >= i,
              'text-gray-300': placeDetails.rating < i
            }"
            fill="currentColor"
            d="m9.362 9.158l-5.268.584c-.19.023-.358.15-.421.343s0
          .394.14.521c1.566 1.429 3.919 3.569 3.919 3.569c-.002 0-.646
          3.113-1.074 5.19a.496.496 0 0 0 .734.534c1.844-1.048 4.606-2.624
          4.606-2.624l4.604 2.625c.168.092.378.09.541-.029a.5.5 0 0 0
          .195-.505l-1.071-5.191l3.919-3.566a.499.499 0 0
          0-.28-.865c-2.108-.236-5.269-.586-5.269-.586l-2.183-4.83a.499.499 0 0
          0-.909 0l-2.183 4.83z"
          />
        </svg>
      </div>
    </div>
    <p class="text-md text-gray-700 mb-4">
      {{ placeDetails.formatted_address }}
    </p>
    <p class="text-md text-gray-700 mb-2">
      Status: {{ placeDetails.business_status }}
    </p>

    <h3 class="text-xl font-semibold mt-4 mb-2">Opening Hours:</h3>
    <ul class="list-disc pl-6">
      <li *ngFor="let period of placeDetails.opening_hours?.periods">
        {{ getDayName(period.open.day) }}: {{ formatTime(period.open.time) }} -
        {{ formatTime(period.close?.time || "") }}
      </li>
    </ul>

    <h3 class="text-xl font-semibold mt-4 mb-2">
      Reviews ({{ placeDetails.reviews?.length }})
    </h3>

    <div
      class="flex flex-col w-full bg-gray-100 rounded-lg p-4 my-4"
      *ngFor="let review of placeDetails.reviews"
    >
      <div class="flex flex-row items-center">
        <img
          src="{{ review.profile_photo_url }}"
          alt="Profile Photo"
          class="w-12 h-12 rounded-full mr-4"
        />
        <span class="font-bold text-sm"> {{ review.author_name }} </span>
        <div
          class="flex flex-row items-center justify-end grow text-sm ml-auto"
        >
          {{ review.relative_time_description }}
        </div>
      </div>

      <div
        class="flex flex-row items-center my-3"
        *ngIf="review.rating"
      >
        <span
          *ngFor="let i of [1, 2, 3, 4, 5]"
          class="w-8 h-5 ml-1 rounded-md"
          [ngClass]="{
            'bg-red-500': review.rating < 3 && i <= review.rating,
            'bg-yellow-500':
              review.rating >= 3 && review.rating < 4 && i <= review.rating,
            'bg-green-500': review.rating >= 4 && i <= review.rating,
            'bg-gray-300': i > review.rating
          }"
        ></span>
      </div>
      <p class="text-md my-4 text-ellipsis line-clamp-3
      ">{{ review.text }}</p>



    </div>
  </div>
</div>
