<div class="w-full h-full flex flex-col items-center justify-center pt-12">
  <div #container class="flex flex-row w-full h-[80vh]" *ngIf="placeDetails">
    <app-videos
      [photos]="photos"
      [pid]="pid"
      [reviews]="reviews"
      class="lg:w-1/3 w-1/2 shrink-0 mx-2"
    ></app-videos>

    <div class="lg:w-2/3 w-1/2 h-full overflow-y-scroll mx-2 pr-2">
      <div class="flex flex-col justify-start py-2">
        <div
          class="font-semibold text-gray-950 line-clamp-1 text-ellipsis text-lg"
        >
          {{ placeDetails.name }}
        </div>
        <div class="flex items-center text-sm mt-1">
          {{ placeDetails.formatted_address }}
        </div>

        <div class="flex flex-row items-center h-6 mt-1">
          <span
            class="text-gray-600 text-xs mr-2 mt-1 bg-gray-200 rounded-md px-2 py-1 font-semibold {{
              placeDetails.price_level <= 2
                ? 'bg-green-100 text-green-700'
                : 'bg-yellow-100 text-yellow-700'
            }}
        "
            *ngIf="placeDetails.price_level"
          >
            {{ "$".repeat(placeDetails.price_level) }}
          </span>
          <span
            class="text-gray-400 text-xs mr-2 mt-1 bg-gray-300 rounded-full p-1 font-semibold"
            *ngIf="placeDetails.price_level !== undefined"
          >
          </span>
          <div *ngIf="placeDetails.rating" class="flex flex-row items-center">
            <svg
              class="w-6 h-6 {{
                placeDetails.rating >= star
                  ? 'text-yellow-500'
                  : 'text-gray-400'
              }}"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              *ngFor="let star of [1, 2, 3, 4, 5]"
            >
              <path
                fill="currentColor"
                d="m12 18.275l-4.15 2.5q-.275.175-.575.15t-.525-.2q-.225-.175-.35-.437t-.05-.588l1.1-4.725L3.775 11.8q-.25-.225-.312-.513t.037-.562q.1-.275.3-.45t.55-.225l4.85-.425l1.875-4.45q.125-.3.388-.45t.537-.15q.275 0 .537.15t.388.45l1.875 4.45l4.85.425q.35.05.55.225t.3.45q.1.275.038.563t-.313.512l-3.675 3.175l1.1 4.725q.075.325-.05.588t-.35.437q-.225.175-.525.2t-.575-.15l-4.15-2.5Z"
              />
            </svg>
          </div>
          <span class="text-gray-600 text-sm ml-2 mt-1">
            {{ placeDetails.rating }}
            ({{ (placeDetails.reviews?.length || 0) + reviews.length }}
            reviews)
          </span>
        </div>

        <div class="flex flex-row items-center mt-2">
          <a
            href="{{ placeDetails.website }}"
            target="_blank"
            class="text-sm text-sky-800 bg-sky-100 p-1 rounded-sm"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 24 24"
              class="inline-block w-4 h-4 mr-1"
            >
              <path
                fill="currentColor"
                d="M7 17q-2.075 0-3.537-1.463T2 12q0-2.075 1.463-3.537T7 7h3q.425 0 .713.288T11 8q0 .425-.288.713T10 9H7q-1.25 0-2.125.875T4 12q0 1.25.875 2.125T7 15h3q.425 0 .713.288T11 16q0 .425-.288.713T10 17H7Zm2-4q-.425 0-.712-.288T8 12q0-.425.288-.712T9 11h6q.425 0 .713.288T16 12q0 .425-.288.713T15 13H9Zm5 4q-.425 0-.712-.288T13 16q0-.425.288-.712T14 15h3q1.25 0 2.125-.875T20 12q0-1.25-.875-2.125T17 9h-3q-.425 0-.712-.288T13 8q0-.425.288-.712T14 7h3q2.075 0 3.538 1.463T22 12q0 2.075-1.463 3.538T17 17h-3Z"
              />
            </svg>

            <span class="text-xs font-semibold text-ellipsis">{{
              placeDetails.website
            }}</span>
          </a>

          <a
            href="tel:{{ placeDetails.formatted_phone_number }}"
            class="text-sm text-green-800 bg-green-100 p-1 rounded-sm ml-2"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 24 24"
              class="inline-block w-4 h-4 mr-1"
            >
              <path
                fill="currentColor"
                d="M19.95 21q-3.125 0-6.175-1.362t-5.55-3.863q-2.5-2.5-3.862-5.55T3 4.05q0-.45.3-.75t.75-.3H8.1q.35 0 .625.238t.325.562l.65 3.5q.05.4-.025.675T9.4 8.45L6.975 10.9q.5.925 1.187 1.787t1.513 1.663q.775.775 1.625 1.438T13.1 17l2.35-2.35q.225-.225.588-.337t.712-.063l3.45.7q.35.1.575.363T21 15.9v4.05q0 .45-.3.75t-.75.3Z"
              />
            </svg>

            <span class="text-xs font-semibold">{{
              placeDetails.formatted_phone_number
            }}</span>
          </a>
        </div>

        <div class="flex flex-row items-center mt-2">
          <span
            class="text-gray-600 text-xs mr-2 mt-1 bg-gray-200 rounded-md px-2 py-1 font-semibold"
            *ngFor="let type of placeDetails.types"
            >{{ type.replaceAll("_", " ") | titlecase }}</span
          >
        </div>

        <div class="flex flex-row items-center mt-2">
          <span
            class="text-gray-600 text-xs mr-2 mt-1 bg-gray-200 rounded-md px-2 py-1 font-semibold {{
              placeDetails.opening_hours.isOpen()
                ? 'bg-green-100 text-green-700'
                : 'bg-red-100 text-red-700'
            }}"
            *ngIf="placeDetails.opening_hours"
            >{{ placeDetails.opening_hours.isOpen() ? "Open" : "Closed" }}</span
          >
        </div>
      </div>

      <hr class="my-4" />

      <div class="flex flex-row items-center justify-between">
        <h3 class="text-lg font-semibold mt-4 text-gray-700">
          Reviews ({{
            (placeDetails.reviews?.length || 0) + reviews.length
          }})
        </h3>

        <button
          class="bg-sky-100 hover:bg-sky-200 text-sky-700 font-semibold text-sm py-1 px-2 rounded inline-flex items-center h-10"
          (click)="toggleWriteReview()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 24 24"
            class="inline-block w-4 h-4 mr-2"
          >
            <path
              fill="currentColor"
              d="M3 21v-4.25L16.2 3.575q.3-.275.663-.425t.762-.15q.4 0 .775.15t.65.45L20.425 5q.3.275.438.65T21 6.4q0 .4-.137.763t-.438.662L7.25 21zM17.6 7.8L19 6.4L17.6 5l-1.4 1.4z"
            />
          </svg>
          <span>Review</span>
        </button>
      </div>

      <app-write-review *ngIf="showWriteReview" [pid]="pid"></app-write-review>

      <div
        class="flex flex-col w-full bg-white rounded-lg p-4 mt-4"
        *ngFor="let review of reviews"
      >
        <div class="flex flex-row items-center">
          <img
            src="{{ review.uid }}"
            alt="Profile Photo"
            class="w-12 h-12 rounded-full mr-4"
            *ngIf="false"
          />
          <svg
            *ngIf="true"
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 24 24"
            class="inline-block w-12 h-12 mr-4 p-2 text-gray-500 rounded-full bg-gray-300"
          >
            <path
              fill="currentColor"
              d="M12 12q-1.65 0-2.825-1.175T8 8q0-1.65 1.175-2.825T12 4q1.65 0 2.825 1.175T16 8q0 1.65-1.175 2.825T12 12m-8 8v-2.8q0-.85.438-1.562T5.6 14.55q1.55-.775 3.15-1.162T12 13q1.65 0 3.25.388t3.15 1.162q.725.375 1.163 1.088T20 17.2V20z"
            />
          </svg>
          <span class="font-bold text-sm"> {{ review.uid }} </span>
          <div
            class="flex flex-row items-center justify-end grow text-sm ml-auto"
          >
            {{
              strToDate(review.createdAt).toLocaleDateString("en-US", {
                year: "numeric",
                month: "short",
                day: "numeric"
              })
            }}
          </div>
        </div>

        <div class="flex flex-row items-center my-3" *ngIf="review.rating">
          <span
            *ngFor="let i of [1, 2, 3, 4, 5]"
            class="w-8 h-5 ml-1 rounded-md"
            [ngClass]="{
              'bg-red-500': review.rating < 3 && i <= review.rating,
              'bg-yellow-500':
                review.rating >= 3 && review.rating < 4 && i <= review.rating,
              'bg-green-500': review.rating >= 4 && i <= review.rating,
              'bg-gray-300': i > review.rating
            }"
          ></span>
        </div>
        <p class="text-md my-4 text-ellipsis line-clamp-3">{{ review.text }}</p>
      </div>

      <div
        class="flex flex-col w-full shadow-md bg-white rounded-lg p-4 mt-4"
        *ngFor="let review of placeDetails.reviews"
      >
        <div class="flex flex-row items-center">
          <img
            src="{{ review.profile_photo_url }}"
            alt="Profile Photo"
            class="w-12 h-12 rounded-full mr-4"
          />
          <span class="font-bold text-sm"> {{ review.author_name }} </span>
          <div
            class="flex flex-row items-center justify-end grow text-xs font-semibold ml-auto text-gray-500"
          >
            {{ review.relative_time_description }}
          </div>
        </div>

        <div class="flex flex-row items-center mt-3" *ngIf="review.rating">
          <span
            class="text-gray-600 text-sm mr-2 mt-1 px-2 py-1 flex items-center justify-center  {{
              review.rating >= 4
                ? 'bg-green-100 text-green-700'
                : review.rating >= 3
                ? 'bg-yellow-100 text-yellow-700'
                : 'bg-red-100 text-red-700'
            }} rounded-md font-semibold"
          >
            Rating:
            {{ review.rating }}
          </span>
          <svg
            class="w-6 h-6 {{
              review.rating >= star ? 'text-yellow-500' : 'text-gray-400'
            }}"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            *ngFor="let star of [1, 2, 3, 4, 5]"
          >
            <path
              fill="currentColor"
              d="m12 18.275l-4.15 2.5q-.275.175-.575.15t-.525-.2q-.225-.175-.35-.437t-.05-.588l1.1-4.725L3.775 11.8q-.25-.225-.312-.513t.037-.562q.1-.275.3-.45t.55-.225l4.85-.425l1.875-4.45q.125-.3.388-.45t.537-.15q.275 0 .537.15t.388.45l1.875 4.45l4.85.425q.35.05.55.225t.3.45q.1.275.038.563t-.313.512l-3.675 3.175l1.1 4.725q.075.325-.05.588t-.35.437q-.225.175-.525.2t-.575-.15l-4.15-2.5Z"
            />
          </svg>
        </div>
        <p class="text-md my-4 text-ellipsis line-clamp-5">{{ review.text }}</p>
      </div>
    </div>
  </div>
</div>
