<div
  class="w-full h-full flex flex-row items-center shadow-md rounded-md p-2 bg-white"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="32"
    height="32"
    viewBox="0 0 24 24"
    class="inline-block w-6 h-6 text-gray-400"
  >
    <path
      fill="currentColor"
      d="M12 12q.825 0 1.413-.587T14 10q0-.825-.587-1.412T12 8q-.825 0-1.412.588T10 10q0 .825.588 1.413T12 12Zm0 10q-4.025-3.425-6.012-6.362T4 10.2q0-3.75 2.413-5.975T12 2q3.175 0 5.588 2.225T20 10.2q0 2.5-1.987 5.438T12 22Z"
    />
  </svg>
  <input
    class="h-full w-full outline-none text-sm px-2"
    type="text"
    placeholder="Type a location"
    #inputField
  />
</div>
